<main>
  <header>
    <div>EPL Tracking App</div>
  </header>
  <section class="mainContent">
    <div class="content">
      <div class="card">
        <div class="card-body">
       
          <div class="straigthLine"></div>
          <div class="results">Results of past 6 matches</div>
          <div class="data">
            <div *ngFor="let games of lastsix">
           
              
            </div>
          </div>
          <div class="btnContainer">
            <button
              (click)="routeToHome()"
              type="button"
              id="backBtn"
              class="btn btn-success"
            >
              << Back to all team stats
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>