<main>
  <header>
    <div>Football Score Tracking App</div>
  </header>
  <section class="mainContent">
    <div class="content">
      <div class="card">
        <div class="card-body">
          <div class="results">Results of past 6 matches</div>
          <div class="straigthLine"></div>
          <div class="data">
            <div class="selectedTeams" *ngFor="let game of lastsix">
              <div class="logo">
                <span><img [src]="game.teams.home.logo" alt="homeLogo" /></span>
              </div>
              <div class="name">
                <span>{{ game.teams.home.name }}</span>
              </div>
              <div class="goals">
                <span>{{ game.goals.home }}</span>
              </div>
              <div class="dot">
                <span>-</span>
              </div>
              <div class="goals">
                <span>{{ game.goals.away }}</span>
              </div>
              <div class="name">
                <span>{{ game.teams.away.name }}</span>
              </div>
              <div class="logo">
                <span><img [src]="game.teams.away.logo" alt="awayLogo" /></span>
              </div>
            </div>
          </div>
          <div class="btnContainer">
            <button
              (click)="routeToHome()"
              type="button"
              id="backBtn"
              class="btn btn-success"
            >
              << Back to all team stats
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
